<div class="container">
    <div class="panel panel-default">
      <div class="panel-heading"></div>
      <div class="panel-body">
        <form ng-submit="add()" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">Item</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="item"/>
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-2 control-label">Price</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="price"/>
            </div>
          </div>
          
          <div clas="form-group">
            <label class="col-sm-2 control-label">Quantity</label>
            <div class="col-sm-10">
              <input type="range" min="1" max="500" ng-model="quantity"/> {{quantity}}
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
               <input type="submit" class="btn btn-default" value="Insert product" />
            </div>
          </div>
        </form>
        
      </div>
    </div>
   
    <table class="table" ng-show="cartData.length > 0">
      <thead>
        <tr>
          <th>Item</th>
          <th>Price</th>
          <th colspan="2">Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in cartData">
          <td>{{item.name}}</td>
          <td>{{item.price | currency}}</td>
          <td>{{item.quantity}}</td>
          <td>
            <button ng-click="remove($index)" class="btn btn-default">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
