<div class="header">
        <div class="row">
    
            <div class="col-12">
    
                <nav class="navbar navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">
                        <img src="https://raw.githubusercontent.com/ashmita18-dxc/Project/master/output-onlinepngtools.jpg"
                            width="100" height="100" alt="" >
                    </a>
                    <a class="navbar-brand" href="#" style="font-size:xxx-large;font-family: 'Sofia', cursive;padding-left: 33%;">TROFI</a>
                    <a href="#about" style="font-family: 'Sofia', cursive;color: aliceblue;margin-left: 60%;">About Us</a>
                    <a href="#about"style="font-family: 'Sofia', cursive;color: aliceblue;">Contact</a>
                </nav>
            </div>
        </div>
    </div>