<div class="container-fluid">
    <div class="row last-row" style="background-color:black">
        <div class="col-2" style="background-color:black"></div>
        <div class="col-4">
            <div class="card" style="background-color: black">
                <div class="card-body">
                    <h4 class="card-title" style="color:white;margin-left: 40%;">About Us</h4>
                    <h3></h3>
                    <p id="about" style="color: aliceblue;text-align: center;">Boosting accessibility for foodies who
                        love to eat home cooked food and providing the service to all those household cooks who love to
                        cook food for people.We are actively growing our services- NGO, Catrering, Foodies and household
                        cooks.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card" style="background-color: black">
                <div class="card-body">
                    <h4 class="card-title" style="color:white;margin-left: 42%">Contact</h4>
                    <h5 style="text-align: center;color:aliceblue;margin-left: 10%;">We love to hear from you</h5>
                    <br>
                    <p id="about" style="text-align: center;color:aliceblue;margin-left: 10%;">Please contact us:</p>
                    <p style="text-align: center;color:aliceblue;margin-left: 10%;">
                        lakshit1234@dxc.com<br>asarkar@dxc.com<br>rhitik@dxc.com<br>knishchay@dxc.com</p>

                </div>
            </div>
        </div>
        <div class="col-2" style="background-color:black"></div>


    </div>
</div>