img{
    border-radius: 100px;
    
}
nav{
    border-radius: 25px;
    background: linear-gradient(to right, #008cff88, #00ffaa88);
}
.dropdown-menu{
    background: linear-gradient(to right, #008cff, #00ffaa); 
}
#cart{
    border-radius: 50%;
    background: linear-gradient(to right, #008cff, #00ffaa); 
    height:70px;
    width: 70px;
}
