<div class="conatiner">
    <div class="col-md-8 col-sm-8 offset-2" id="boxer">
        <div style="text-align: center">
            <table style="margin-left: 35%;">
                <tr>
                    <td align="center">Name:</td>
                    <td>{{foodie.foodieName}}</td>

                </tr>



                <tr>
                    <td align="center">Email:</td>
                    <td>{{foodie.foodieEmail}}
                    </td>
                </tr>
                <tr>
                    <td align="center">City:
                    </td>
                    <td>{{foodie.foodieCity}}
                    </td>
                </tr>
                <tr>
                    <td align="center">Address::
                    </td>
                    <td>{{foodie.foodieCity}}
                    </td>
                </tr>
                <tr>
                    <td align="center">Phone:
                    </td>
                    <td>{{foodie.foodiePhone}}
                    </td>
                </tr>
                <tr>
                    <td align="center">Zip:
                    </td>
                    <td>{{foodie.foodiePhoneip}}
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <button type="submit" class="btn btn-primary">Edit Profile
                        </button>
                    </td>
                    <td align="center">
                    <form  (ngSubmit)="deleteFoodie()">
                            
                                    <button type="submit"  class="btn btn-danger">Delete Account
                                    </button>
                    
                    
                    </form></td>
                </tr>
            </table>

        </div>
    </div>
</div>
