td {
    padding: 10px;
}
table {
    width: fit-content;
}
#boxer {
    background: linear-gradient(to right, #008cff88, #00ffaa88);
    border-radius: 80px;
    margin-top: 20pt;
}
body {
    
    background-attachment: fixed;
    background-size: 100% 100%;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
